table, tr {
    width: 100%;
    background-color: #f3f3f3;
    padding: 10px 130px 130px 130px;
}
table img {
    width: 37px;
}
table span {
    position: relative;
    bottom: 10px;
    margin-left: 10px;
    font-weight: 500;
}